openapi: 3.0.2
info:
  description: "This is the API description for the ZON-App (iOS and Android)"
  version: "0.1.0"
  title: "ZON App API"
  termsOfService: "write me"
  contact:
    email: "internet-technik@zeit.de"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
servers: 
  - url: "https://app-api.zeit.de/v.0.1.0/"
    description: "Production API"
  - url: "https://app-api.staging.zeit.de/v.0.1.0/"
    description: "Staging API"
paths:
  /structure:
    get:
       tags:
         - "structure"
       summary: "Get all infos about the site's structure, e.g. tabs"
       responses:
         "200":
           description: "Sucessful operation"
           content:
             application/json:
              schema:
                type: object
                properties:
                  tabs:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/tabDefinitionCpView'
                        - $ref: '#/components/schemas/tabDefinitionWebView'
                        - $ref: '#/components/schemas/tabDefinitionMenuView'
                        - $ref: '#/components/schemas/tabDefinitionNativeOnlyView'
              example: {tabs: [
                {id: homepage, title: Start, type: webView, url: https://www.zeit.de/index},
                {id: news, title: Schlagzeilen, type: cpView, cpSelection: [{id: '{urn:uuid:c8ae2aa4-ff88-4ed5-9c09-56fd00f89eb5}'}]},
                {id: discover, title: Entdecken, type: nativeOnlyView, viewID: discover-view},
                {id: zplus, title: Mein Abo, type: cpView, cpSelection: [{id: '{urn:uuid:0fd9480f-1b52-4fcb-942e-8089e378102e}'}]},
                {id: menu, title: Mehr, type: menuView, sections: [{id: my-menu, entries: [
                  {id: reading-list, title: Merkliste, targetId: native-reading-list},
                  {id: reading-history, title: Verlauf, targetId: native-reading-history},
                  {id: reading-history, title: Verlauf, url: https://profile.zeit.de}
                ]}]}
              ]}
         "503":
           description: "Server Timeout"
         "403":
           description: "Access Forbidden"
  /cp/{id}:
    get:
      parameters:
        - in: path
          name: id
          schema:
            type: string
            example: home
          required: true
          description: The whole definition of a centerpage (cp)
      tags:
        - cp
      summary: "Get all infos about centerpages"
      responses:
         "200":
           description: "Sucessful operation"
           content:
             application/json:
              schema:
                type: object
                properties:
                  cp:
                    type: string
                    example: "home"
                  items:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/cpDefinitionWeb'
                        - $ref: '#/components/schemas/cpDefinitionSection'
                        - $ref: '#/components/schemas/cpDefinitionTeaser'
         "503":
           description: "Server Timeout"
         "403":
           description: "Access Forbidden"
components:
  schemas:
    cpDefinitionBase:
      required:
        - id
        - type
      properties:
        id:
           type: string
           description: "ID of the centerpage"
           example: "justsomeuniquestring"
    cpDefinitionTeaser:
      allOf:
        - $ref: '#/components/schemas/cpDefinitionBase'
        - required:
            - layoutType
            - title
            - url
            - dateFirstPublished
            - dateLastPublishedSemantic
        - properties:
            type:
              type: string
              example: teaser
              enum:
               - teaser
            title:
              type: string
              example: "This is a teaser title"
            supertitle: 
              type: string
              example: "The Kicker"
            text:
              type: string
              example: "This is the teaser text"
            image:
              type: object
              properties:
                base_url:
                  type: string
                  format: url
                  example: "https://img.zeit.de/2020-08/flightradar-4/cinema__"
            dateFirstPublished:
              type: string
              format: date-time
              example: "2019-12-31T13:12Z"
            dateLastPublishedSemantic:
              type: string
              format: date-time
              example: "2020-01-01T13:12Z"
            url:
              type: string
              format: uri
              example: "https://www.zeit.de/my/article"
    cpDefinitionWeb:
      allOf:
        - $ref: '#/components/schemas/cpDefinitionBase'
        - required:
            - raw_content
        - properties:
            type:
              type: string
              example: web
              enum:
               - web
            raw_content:
              type: string
              format: html
              example: "<embed>Anything can happen here.</embed>"
    cpDefinitionSection:
      allOf:
        - $ref: '#/components/schemas/cpDefinitionBase'
        - required:
            - layoutType
            - title
            - sectionItems
        - properties:
            type:
              type: string
              example: section
              enum:
               - section
            layoutType:
              type: string
              example: layoutType1
              enum:
               - layoutType1
               - layoutType2
            title:
              type: string
              example: "This is a simple title"
            sectionItems:
              type: array
              items:
                anyOf:
                  - $ref: '#/components/schemas/cpDefinitionWeb'
                  - $ref: '#/components/schemas/cpDefinitionTeaser'
    tabDefinitionBase:
      required:
        - id
        - title
        - type
      properties:
        id:
           type: string
           description: "ID of the tab"
           example: "justsomeuniquestring"
        title:
           type: string
           minLength: 1
           maxLength: 80
           example: "A Title"
    tabDefinitionCpView:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - required:
            - cpSelection
        - properties:
            type:
              type: string
              enum:
               - cpView
              example: "cpView"
            cpSelection:
              type: array
              items:
                $ref: '#/components/schemas/cpItem'
    tabDefinitionWebView:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - properties:
            type:
              type: string
              enum:
               - webView
              example: "webView"
            url: 
              type: string
              format: uri
              example: "https://www.zeit.de/index"
    tabDefinitionMenuView:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - properties:
            type:
              type: string
              enum:
               - menuView
              example: "menuView"
            sections:
              type: array
              items:
                $ref: '#/components/schemas/menuSection'
    tabDefinitionNativeOnlyView:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - required:
            - viewID
        - properties:
          type:
            type: string
            enum:
              - "nativeOnlyView"
          viewID:
            type: string
            example: "discover-view"
    cpItem:
      required:
        - uuid
      properties:
        id:
          type: string
          format: uuid
          example: "{urn:uuid:d995ba5a-a7fb-401a-bdc8-86cf2cbf0cda}"
    menuSection:
      required:
        - uuid
      properties:
        id:
          type: string
          example: "menu-section-1"
        entries:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/menuEntryNative'
              - $ref: '#/components/schemas/menuEntryWeb'
              - $ref: '#/components/schemas/menuEntryBrowser'
    menuEntryBase:
      required:
        - id
        - title
      properties:
        id:
          type: string
          example: "menu-entry1"
        title:
          type: string
          example: "Menu Entry Title"
    menuEntryNative:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - required:
            - targetId
        - properties:
            targetId:
              type: string
              example: "some-native-id"
    menuEntryWeb:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - required:
            - url
        - properties:
            url:
              type: string
              example: "https://www.zeit.de/some/webviewurl"
    menuEntryBrowser:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - required:
            - url
        - properties:
            url:
              type: string
              example: "https://www.zeit.de/some/browserurl"
  securitySchemes:
    zon_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://oauth.zeit.de/oauth/authorize'
          scopes:
            'read:all': read your pets
    api_key:
      type: apiKey
      name: api_key
      in: header
