openapi: 3.0.2
info:
  description: "This is the API descriotion for the ZON-App (iOS and Android)"
  version: "0.1.0"
  title: "ZON App API"
  termsOfService: "write me"
  contact:
    email: "internet-technik@zeit.de"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
servers: 
  - url: "https://app-api.zeit.de/v.0.1.0/"
    description: "Production API"
  - url: "https://app-api.staging.zeit.de/v.0.1.0/"
    description: "Staging API"
paths:
  /structure:
    get:
       tags:
         - "structure"
       summary: "Get all infos about the site's structure, e.g. tabs"
       responses:
         "200":
           description: "Sucessful operation"
           content:
             application/json:
              schema:
                type: object
                properties:
                  tabs:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/tabDefinitionRessortView'
                        - $ref: '#/components/schemas/tabDefinitionStoryView'
                        - $ref: '#/components/schemas/tabDefinitionMenuView'
         "503":
           description: "Server Timeout"
         "403":
           description: "Access Forbidden"
  /ressort/{id}:
    get:
      parameters:
        - in: path
          name: id
          schema:
            type: string
            example: home
          required: true
          description: The whole definition of the ressort
      tags:
        - ressort
      summary: "Get all infos about ressorts"
      responses:
         "200":
           description: "Sucessful operation"
           content:
             application/json:
              schema:
                type: object
                properties:
                  ressort:
                    type: string
                    example: "home"
                  items:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/ressortDefinitionWeb'
                        - $ref: '#/components/schemas/ressortDefinitionSection'
                        - $ref: '#/components/schemas/ressortDefinitionTeaser'
         "503":
           description: "Server Timeout"
         "403":
           description: "Access Forbidden"
components:
  schemas:
    ressortDefinitionBase:
      required:
        - id
        - type
      properties:
        id:
           type: string
           description: "ID of the ressort"
           example: "justsomeuniquestring"
    ressortDefinitionTeaser:
      allOf:
        - $ref: '#/components/schemas/ressortDefinitionBase'
        - required:
            - layoutType
            - title
            - url
            - dateFirstPublished
            - dateLastPublishedSemantic
        - properties:
            type:
              type: string
              example: teaser
              enum:
               - teaser
            title:
              type: string
              example: "This is a teaser title"
            supertitle: 
              type: string
              example: "The Kicker"
            text:
              type: string
              example: "This is the teaser text"
            image:
              type: object
              properties:
                base_url:
                  type: string
                  format: url
                  example: "https://img.zeit.de/2020-08/flightradar-4/cinema__"
            dateFirstPublished:
              type: string
              format: date-time
              example: "2019-12-31T13:12Z"
            dateLastPublishedSemantic:
              type: string
              format: date-time
              example: "2020-01-01T13:12Z"
            url:
              type: string
              format: uri
              example: "https://www.zeit.de/my/article"
    ressortDefinitionWeb:
      allOf:
        - $ref: '#/components/schemas/ressortDefinitionBase'
        - required:
            - raw_content
        - properties:
            type:
              type: string
              example: web
              enum:
               - web
            raw_content:
              type: string
              format: html
              example: "<embed>Anything can happen here.</embed>"
    ressortDefinitionSection:
      allOf:
        - $ref: '#/components/schemas/ressortDefinitionBase'
        - required:
            - layoutType
            - title
            - sectionItems
        - properties:
            type:
              type: string
              example: section
              enum:
               - section
            layoutType:
              type: string
              example: layoutType1
              enum:
               - layoutType1
               - layoutType2
            title:
              type: string
              example: "This a simple title"
            sectionItems:
              type: array
              items:
                anyOf:
                  - $ref: '#/components/schemas/ressortDefinitionWeb'
                  - $ref: '#/components/schemas/ressortDefinitionTeaser'
    tabDefinitionBase:
      required:
        - id
        - title
        - type
      properties:
        id:
           type: string
           description: "ID of the tab"
           example: "justsomeuniquestring"
        title:
           type: string
           minLength: 1
           maxLength: 80
           example: "A Title"
    tabDefinitionRessortView:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - required:
            - ressortSelection
        - properties:
            type:
              type: string
              enum:
               - ressortView
              example: "ressortView"
            ressortSelection:
              type: array
              items:
                $ref: '#/components/schemas/ressortItem'
    tabDefinitionStoryView:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - required:
            - sections
        - properties:
            type:
              type: string
              enum:
               - storyView
              example: "storyView"
            storyId: 
              type: string
              format: uri
              example: "https://www.zeit.de/a/story"
    tabDefinitionMenuView:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - properties:
            
            sections:
              type: array
              items:
                $ref: '#/components/schemas/menuSection'
    ressortItem:
      required:
        - uuid
      properties:
        id:
          type: string
          format: uuid
          example: "{urn:uuid:d995ba5a-a7fb-401a-bdc8-86cf2cbf0cda}"
    menuSection:
      required:
        - uuid
      properties:
        id:
          type: string
          example: "menu-section-1"
        entries:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/menuEntryNative'
              - $ref: '#/components/schemas/menuEntryWeb'
              - $ref: '#/components/schemas/menuEntryBrowser'
    menuEntryBase:
      required:
        - id
        - title
      properties:
        id:
          type: string
          example: "menu-entry1"
        title:
          type: string
          example: "Menu Entry Title"
    menuEntryNative:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - required:
            - targetId
        - properties:
            targetId:
              type: string
              example: "some-native-id"
    menuEntryWeb:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - required:
            - url
        - properties:
            url:
              type: string
              example: "https://www.zeit.de/some/webviewurl"
    menuEntryBrowser:
      allOf:
        - $ref: '#/components/schemas/tabDefinitionBase'
        - required:
            - url
        - properties:
            url:
              type: string
              example: "https://www.zeit.de/some/browserurl"
  securitySchemes:
    zon_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://oauth.zeit.de/oauth/authorize'
          scopes:
            'read:all': read your pets
    api_key:
      type: apiKey
      name: api_key
      in: header
