name: Trigger docs main build
on:
  push:
    paths:
      - 'docs/**'
      - '!docs/api/**'
      - '.github/workflows/docs-trigger-build.yaml'
      - mkdocs.yml
jobs:
  trigger:
    name: Trigger
    runs-on: zon-ubuntu-general-dind
    if: contains(github.repository, 'ZeitOnline')
    steps:
      - name: Trigger Repository Dispatch in docs
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          token: ${{ secrets.PRIVATE_REPO_ACCESS_PAT }}
          repository: ZeitOnline/docs
          event-type: module-commit
          client-payload: '{"repo": "${{ github.repository }}", "ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
