name: Testrunner

on:
  push:
    branches:
      - "main"
  pull_request:

env:
  PROJECT: zappi-spec
  BUILD_URL: "${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}"

jobs:
  test:
    runs-on: zon-ubuntu-general-dind
    permissions:
      contents: "read"

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"
          cache: "pipenv"
      - run: pip install pipenv

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "docs/api/package-lock.json"

      - run: bin/test

      - uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        if: failure() && github.ref_name == 'main'
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: ${{secrets.SLACK_TEAM_CONTENT_CHANNEL_ID}}
            text: ":small_red_triangle_down: <${{env.BUILD_URL}}|${{env.PROJECT}}> tests failed"
